<nav class="navbar navbar-expand lg navbar-dark bg-danger">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a href="/" class=" navbar-brand">MovieApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nac-item">
                    <a href="/movies/list" class="nav-link">Filmler</a>
                </li>
                <li class="nac-item">
                    <a href="/movies/create" class="nav-link">Create Movie</a>
                </li>

            </ul>
            <form method="get">
                <input type="text" name="q" placeholder="Film adı veya açıklama...">
                <button type="submit">Ara</button>
            </form>
        </div>
    </div>
</nav>